# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Node
node_modules/

# Env/Secrets
.env
.env.*

# OS/Editor
.DS_Store
.vscode/
.idea/

# Build artifacts
dist/
build/
coverage/
htmlcov/

# Python packaging metadata
*.egg-info/
